In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
df=pd.read_csv("HR_comma_sep.csv")

In [3]:
df.size

149990

In [4]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Department', 'salary'],
      dtype='object')

In [5]:
df["Work_accident"].unique()

array([0, 1], dtype=int64)

In [6]:
df["Work_accident"]=df["Work_accident"].astype("category")

In [7]:
df.dtypes

satisfaction_level        float64
last_evaluation           float64
number_project              int64
average_montly_hours        int64
time_spend_company          int64
Work_accident            category
left                        int64
promotion_last_5years       int64
Department                 object
salary                     object
dtype: object

In [8]:
df["Work_accident"].unique()

[0, 1]
Categories (2, int64): [0, 1]

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
df["salary2"]=le.fit_transform(df["salary"])

In [12]:
df["salary2"].unique()

array([1, 2, 0], dtype=int64)

In [13]:
df["salary2"]=df["salary2"].astype("category")

In [14]:
df["salary2"].unique()

[1, 2, 0]
Categories (3, int64): [1, 2, 0]

In [15]:
dt=DecisionTreeClassifier()

In [16]:
dt.fit(df[["salary2","Work_accident"]],df["left"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [17]:
dt.predict(df[["salary2","Work_accident"]])

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe=OneHotEncoder()

In [20]:
temp=ohe.fit_transform(df[["salary2"]]).toarray()

In [21]:
temp

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [22]:
column_name=["salary="+x for x in le.classes_]

In [24]:
temp=pd.DataFrame(temp,columns=column_name)

In [26]:
temp.head(5)

   salary=high  salary=low  salary=medium
0          0.0         1.0            0.0
1          0.0         0.0            1.0
2          0.0         0.0            1.0
3          0.0         1.0            0.0
4          0.0         1.0            0.0

In [28]:
new_df=pd.concat([df,temp],axis=1)
new_df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,salary2,salary=high,salary=low,salary=medium
0,0.38,0.53,2,157,3,0,1,0,sales,low,1,0.0,1.0,0.0
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2,0.0,0.0,1.0
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2,0.0,0.0,1.0
3,0.72,0.87,5,223,5,0,1,0,sales,low,1,0.0,1.0,0.0
4,0.37,0.52,2,159,3,0,1,0,sales,low,1,0.0,1.0,0.0

In [29]:
new_df.shape

(14999, 14)

In [38]:
export_graphviz(dt,r"path to get the file\filename.dat",feature_names=["salary2","Work_accident"])
#used to get data in graph form